.btn {
  color: #ff0000;
  text-decoration: none;
  font-family: Helvetica, Sans-serif;
  padding: 0.5rem;
  border: 1px solid;
}

h1 {
  font-family: Helvetica, Sans-serif;
  line-height: 26pt;
}

h2 {
  font-family: Helvetica, Sans-serif;
  line-height: 26pt;
}

h3 {
   font-family: Helvetica, Sans-serif;
  line-height: 26pt;
}

h4 {
  font-family: Helvetica, Sans-serif;
  line-height: 26pt;
}
