.btn {
  color: #ff0000;
}

h1 {
    font-family: Helvetica, Sans-serif;
}

h2 {
    font-family: Helvetica, Sans-serif;
}

h3 {
    font-family: Helvetica, Sans-serif;
}

h4 {
    font-family: Helvetica, Sans-serif;
}
