.btn {
  color: #ff0000;
  text-decoration: none;
  padding: 0.5rem;
  border: 1px solid #333333;
}

h1 {
    font-family: Helvetica;
}

h2 {
    font-family: Helvetica;
}

h3 {
    font-family: Helvetica;
}

h4 {
    font-family: Helvetica;
}
