h1,
.type-h1,
.type-headline-lg {
    font-family: "Lexend Deca", sans-serif;
    font-size: 51.4285714286px;
    line-height: 52px;
    font-weight: 700;
    letter-spacing: -2px;
    -webkit-font-smoothing: subpixel-antialiased;
}
